.calculation {
  background-color: rgb(206, 227, 246);
}
.personal-details img {
  height: 25%;
  width: 25%;
  border-radius: 50px;
}
.personal-info h5 {
  margin-bottom: 0;
}
.personal-info p {
  font-size: x-small;
}
.calculation ul {
  margin: 20px 10%;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(92, 173, 227);
  list-style: none;
}
.calculation ul p {
  color: whitesmoke;
}
.excTime,
.brkTime,
.activity-btn {
  background-color: rgb(92, 173, 227);
}
.breakBtn button:hover {
  background-color: rgb(68, 24, 93);
  color: whitesmoke;
}
@media screen and (max-width: 780px) {
  .calculation {
    position: sticky;
    top: 0;
    height: max-content;
    padding-bottom: 50px;
  }
  .personal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .personal-details h5,
  p {
    text-align: center;
  }
  .breakBtn ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
  }
  .breakBtn button {
    display: flex;
    width: fit-content;
    margin: 0 35%;
  }
  .info-section ul {
    padding: 10px 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  .info-section ul li {
    margin: 25px 0;
  }
  .excTime,
  .brkTime {
    display: flex;
    flex-direction: column;
  }
}
